* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display:grid ;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #10a8e4;
}

.game-container {
  display:grid;
  flex-direction: column;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
   width: 100vw; 
  height: 100vh;
  display:grid;

}

.grid-item {
  width: 80px;
  height: 140px;
  perspective: 100px;
}

.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 2rem;
}

.front {
  background-color: #4caf50;
  color: white;
}

.back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}

.info {
  margin-top: 0%;
 align-items: center;
align-items: baseline;
margin-left: 50%;

}

#timer {
  font-size: 24px;
  color: red;
}
